# Apica Access Transformers
# Format: <access> <class> <member>

# Accès au champ jumping pour le système de montée
public net.minecraft.world.entity.LivingEntity jumping

# Accès au compteur anti-fly-kick pour le Launchpad
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundTickCount
